#home_container{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.colorful-stripe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 200px;
  text-align: center;
  color: #fff;
  font-size: 200%;
  background: linear-gradient(limegreen, transparent), linear-gradient(90deg, skyblue, transparent), linear-gradient(-90deg, coral, transparent);
  background-blend-mode: screen;
  animation: colorfulStripeChange 15s infinite alternate linear;
}
@keyframes colorfulStripeChange {
  100% {
    filter: hue-rotate(360deg);
  }
}

div.home-opt{
  width: 25vw;
  height: 30vh;
  margin: 5vw;
  border-radius: 20px;
  border: 5px solid white;
  transition: background-color .5s;
  box-sizing: border-box;
}
div.home-opt:hover{
  background-color: var(--nav--background--color);
}


div.home-opt a{
  text-decoration: none;
  color: var(--nav--optionText--color);
  font-family: Noto_Tc, Noto_Jp, sans-serif; /* Added fallback generic font family */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6dvh;
  transition: color .5s;
}
div.home-opt:hover a{
  color: white;
}